<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="jumbotron mt-4 bg-light">
    <h1 class="text-center display-4">FJI Portfolio</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Ipsa, quos ut porro dolor facere, quidem doloribus excepturi tempore sit vel tenetur ducimus iusto optio facilis. Ea vel reprehenderit itaque aliquid!Repellat, similique hic quod nostrum nam qui harum dolor, enim nesciunt dolores laudantium suscipit corrupti deserunt culpa nemo, neque accusantium rerum ab recusandae eligendi excepturi. Dolorum id temporibus ipsum neque.</p>
    <P class=" text-center" ><a href="https://franciscoinoqueportfolio.firebaseapp.com/" class="btn text-center btn-fji-bg">FJI</a></P>
</div>
</body>
</html>